flask==2.1.1
torch==1.11.0
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
transformers@ git+git://github.com/huggingface/transformers.git@61c506349134db0a0a2fd6fb2eff8e29a2f84e79
-f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
expred@ git+git://git.l3s.uni-hannover.de/mreimer/expred.git@hotflip
wandb>=0.10.24
flake8==4.0.1
tqdm==4.64.0
scipy>=1.1.0
gensim==4.1.2
scikit-learn==1.0.2
numpy==1.20.3
