<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/counterfactual.css"/>
    <script src='../static/counterfactual.js'></script>
    <meta charset="UTF-8">
    <title>Counterfactual Assistant</title>
<!--    <script src="{{ url_for('static', filename='counterfactual.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
<div>Awsome introduction</div>
<div class="main", style="display: inline-flex">
    <div id="#original", style="width: 50%;display:block;margin-left: 20px;margin-right: 10px;">
        <span id="#original-input" style="display:block">
            <h4 style="display: inline-flex">Query: <i>{{ query }}</i></h4>
            <br>
            <span style="display: inline-flex">
                <h4>Label: </h4><img class='sentiment' src="{{ url_for('static', filename='imgs/' + label + '.png')  }}" alt="{{ label }}">
                <h4>Pred: </h4><img class='sentiment' src="{{ url_for('static', filename='imgs/' + pred + '.png')  }}" alt="{{ pred }}">
            </span>
            <h3>Document and rationals:</h3>
            <i>
            <span style="display: block">
                {% for sent in orig_doc %}
                    <span class="sentence">
                        {{ sent|safe|escape }}
                    </span>
                {% endfor %}
            </span>
            </i>
        </span>
    </div>

    <script src='../static/components/initial_doc.js'></script>
    <div class='user_generated' style="margin-left: 10px;margin-right: 20px;">

{#        <h2>Try to <b>flip</b> the prediction by replacing words without changing the meaning of the sentence:</h2>#}
        <span id="example"></span>

        <div id="user-choice" style="display: none">
        <h2 style="color: #007fff">Your choice:</h2>
            <form>
                <label for="masks">Masking strategy:</label>
                <select name="masks" id="masks">
                    <option value="expred">ExPred</option>
                    <option value="custom">Custom</option>
                </select>
                <label for="attrs">Attribution Strategy:</label>
                <select name="attrs" id="attrs">
                    <optgroup label="Gradient-based">
                        <option value="taylor_pos">Taylor Expansion (HotFlip)</option>
                        <option value="gradient">Gradient Attribution</option>
                    </optgroup>
                    <optgroup label="Hierarchical">
                        <option value="hierarchical">Hierarchical importance</option>
                    </optgroup>
                    <optgroup label="Attention-based">
                        <option value="att">Attention score</option>
                    </optgroup>
                </select>
                <br>
                <input type="checkbox" id="gramma_res" name="gramma_res"><label for="gramma_res">Grammatical restriction</label>
                <input type="checkbox" id="ins" name="ins"><label for="ins">Insertion</label>
                <input type="checkbox" id="del" name="del"><label for="del">Deletion</label>
                <br>
                <label for="new_words">Replacement Retrieving Strategy:</label>
                <select name="new_words" id="new_words">
                    <optgroup label="Gradient-based">
                        <option value="taylor_word">Taylor Expansion (HotFlip)</option>
                    </optgroup>
                    <optgroup label="Masked-model-based">
                        <option value="ptuning">P-Tuning</option>
                        <option value="t5">T5 model</option>
                    </optgroup>
                </select>
            </form>
            <p><button id="apply-mask" type="button" name="predict-mask">Apply</button></p>
            <!--<p>
                <input id='counterfactual-suggestion' type="text">
                <button id='ask-bert' type="button" name="predict">Ask BERT!</button>
            </p>-->
        <div id="query-history"></div>
        </div>
    </div>

</div>
<script>
    /*$("#ask-bert").click(function() {
        let ct = $(this).siblings('#counterfactual-suggestion').val()
        $.ajax({
            url: "/doc-history",
            type: "get",
            data: {query: "{{ query }}",
                   doc: ct,
                   label: "{{ label }}",},
            success: function(response) {
                    $("#query-history").html(response);
                },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    });*/
    

</script>

</body>
</html>