<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/counterfactual.css"/>
    <meta charset="UTF-8">
    <title>Counterfactual Assistant</title>
<!--    <script src="{{ url_for('static', filename='counterfactual.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
</head>
<body>
<div>Awsome introduction</div>
<div class="main", style="display: inline-flex">
    <div id="#original", style="width: 50%;display:block;margin-left: 20px;margin-right: 10px;">
        <span id="#original-input" style="display:block">
            <h4 style="display: inline-flex">Query: <i>{{ query }}</i></h4>
            <br>
            <span style="display: inline-flex">
                <h4>Label: </h4><img class='sentiment' src="{{ url_for('static', filename='imgs/' + label + '.png')  }}" alt="{{ label }}">
                <h4>Pred: </h4><img class='sentiment' src="{{ url_for('static', filename='imgs/' + pred + '.png')  }}" alt="{{ pred }}">
            </span>
            <h3>Document and rationals:</h3>
            <i>
            <span style="display: block">
                {% for sent in orig_doc %}
                    <span class="sentence" style=" ">
                        {{ sent|safe|escape }}
                    </span>
                {% endfor %}
            </span>
            </i>
        </span>
    </div>

    <div class='user_generated' style="margin-left: 10px;margin-right: 20px;">
{#        <h2>Try to <b>flip</b> the prediction by replacing words without changing the meaning of the sentence:</h2>#}
        <span id="example"></span>

        <div id="user-choice" style="display: none">
        <h2 style="color: #007fff">Your choice:</h2>
            <p><button id="apply-mask" type="button" name="predict-mask">Apply this mask!</button></p>
            <!--<p>
                <input id='counterfactual-suggestion' type="text">
                <button id='ask-bert' type="button" name="predict">Ask BERT!</button>
            </p>-->
        <div id="query-history"></div>
        </div>
    </div>

</div>
<script>
    $("#ask-bert").click(function() {
        let ct = $(this).siblings('#counterfactual-suggestion').val()
        $.ajax({
            url: "/doc-history",
            type: "get",
            data: {query: "{{ query }}",
                   doc: ct,
                   label: "{{ label }}",},
            success: function(response) {
                    $("#query-history").html(response);
                },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    });
    $(".sentence").click(function() {
        let sent = $(this).text()
        $.ajax({
            url: "/show_example",
            type: "post",
            data: JSON.stringify({query: "{{ query }}",
                   doc: sent,
                   label: "{{ label }}",}),
            success: function(response) {
                    $("#example").html(response);
                    $("#user-choice").css('display', "inherit");
                    $("#query-history .user-chosen-content").remove();
                },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    });

    $("#apply-mask").click(function() {
        let masked_raw_html = $('#selected-sentence').html()
        $.ajax({
            url: "/doc_history",
            type: "post",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({query: "{{ query }}",
                   masked_raw_html: masked_raw_html,
                   label: "{{ label }}",}),
            success: function(response) {
                    $("#query-history").html(response);
                },
            error: function(xhr) {
                //Do Something to handle error
            }
        });
    });

</script>

</body>
</html>