<!doctype html> <html> <head>
    <title>Your Prediction!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/select.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

</head>
<body>
<div id="maintext" style="display:grid">
    <h3 class="text-dark"> Do following documents SUPPORT or REFUTE your following statement:</h3>
    <h1 class="text-dark mb-3"> "{{ query }}"? </h1>
    <h3 class="text-dark mb-5"> Choose your answer and toggle up/down the <span style="background: #FFFF00">words</span> supporting your justification. </h3>
    <form method=post>
    {% for i in range( docs|length ) %}
    <div class="content hideContent">
        <span class='annotations'>
    {#      {% for j in range( docs[i][0]|length ) %}#}
          {% for j in range( max_sentence ) %}
            <input type='checkbox' class='word-ann {{ exps[i][j] }}' id="exp{{ i }},{{ j }}" name="exp{{ i }},{{ j }}" value='{{ j }}'
                   class="">
              <label for="exp{{ i }},{{ j }}" class='exp-label'>
              {{ docs[i][0][j] }}&nbsp;
            </label>
          {% endfor %}
          <span>
              {% for j in range( max_sentence, docs[i][0]|length - max_sentence ) %}
                <input type='checkbox' class="word-ann {{ exps[i][j] }}" id="exp{{ i }},{{ j }}" name="exp{{ i }},{{ j }}" value='{{ j }}'>
                  <label for="exp{{ i }},{{ j }}" class='exp-label'>
                  {{ docs[i][0][j] }}&nbsp;
                </label>
          {% endfor %}
          </span>
        </span>
    </div>
    <div class="show-more">
        <a href="#">Show more...</a>
    </div>
    <span style="display: inline; font-size: 22px; margin-bottom:30px">
    <h3 for="cls" class="text-dark">The document above</h3>
    <select id="cls{{ i }}" name="cls{{ i }}" class='{{ labels[i] }} classes'>
    <option value="SUPPORTS" id='cls{{i}}_SUPPORTS'>supports</option>
    <option value="REFUTES" id='cls{{i}}_REFUTES'>refutes</option>
    <option value="IRRELEVANT">is irrelevant with</option>
    <option value='BAD_DOC'>is misleading regarding</option>
    </select>
    <h3 for="cls" class="text-dark"> my claim.</h3>
    </span>
    {% endfor %}
    <span><input type="submit" value='Submit'></span>
    </form>
    <a href="{{ url_for('main_page') }}">
        <button class="button mt-3">Try another statement?</button>
    </a>
    <script src="{{ url_for('static', filename='select.js') }}"></script>
</div>

</body>
</html>
