# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
flask==1.1.2 
gensim==3.7.3 
jinja2==2.11.3 
keras-applications==1.0.8 
keras-preprocessing==1.1.2 
markdown==3.3.3 
markupsafe==1.1.1 
torch==1.5.0
pytorch-pretrained-bert==0.6.2 
#scipy==1.6.0 
tokenizers==0.8.1.rc1
transformers==3.0.2 
importlib-metadata==3.4.0 
pyyaml==5.4.1
