<!doctype html> <html> <head>
    <title>Your Prediction!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head>
<body style="background-color:black"> <div id="maintext" 
style="position:absolute; margin:auto; width:100%; max-width: 90% height:300px; text-align:center; top:0; bottom: 0; left: 5%; right: 5%;">
  <h1 class="text-light mb-5"> Do following documents SUPPORT or REFUTE your following statement:</h1>
  <h2 class="text-light mb-5"> "{{ query }}"" </h2>
  <h1 class="text-light mb-5"> Please choose your answer and select the <span style="background: tomato">words</span> supporting your decision. </h1>
  <form method=post style="display:grid;">
  {% for i in range(3) %}
    <p>
      {% for j in range( docs[i][0]|length ) %}
        <input class="doc" type='checkbox' id="exp{{ i }},{{ j }}" name="exp{{ i }},{{ j }}" value='{{ j }}' style="float: left; display: none"> 
        <label for="exp{{ i }},{{ j }}" onclick='toggle_background(this)' style="color: white; background: black; float:left"> 
          {{ docs[i][0][j] }}&nbsp;
        </label>
      {% endfor %}
    </p>
  <span style='display:block'>
  <h5 for="cls" class="text-light mb-5" style="float:left">This document&nbsp;</h5>
  <select id="cls{{ i }}" name="cls{{ i }}" style="float:left">
    <option value="SUPPORTS">supports</option>
    <option value="REFUTES">refutes</option>
    <option value="IRRELEVANT">is irrelevant with</option>
  </select>
  <h5 for='cls' class="text-light mb-5" style="float:left">&nbsp;my statement.</h5>
  </span>
  {% endfor %}
  <input type="submit" value='Submit'>
  </form>
<a href="{{ url_for('main_page') }}"><button class="button mt-3">Try another statement?</button></a>
</div>

<script type="text/javascript">
  function toggle_background(element) {
    var cbid = element.htmlFor
    var cb = document.getElementById(cbid)
    if (cb.checked) {
      element.style.background = 'black'
    } else {
      element.style.background = 'tomato'
    }
  }
  window.onload = function() {
    var all_labels = document.getElementsByTagName("label");
    for (var i=0, max=all_labels.length; i < max; i++) {
      var element = all_labels[i]
      var cbid = element.htmlFor
      var cb = document.getElementById(cbid)
      if (cb.checked) {
        element.style.background = 'tomato'
      } else {
        element.style.background = 'black'
      }
    }
  };
</script>
</body>
</html>
